<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleName</key>
    <string>nōto.</string>
    <key>CFBundleDisplayName</key>
    <string>nōto.</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>NSFaceIDUsageDescription</key>
    <string>Authentification sécurisée pour accéder aux données scolaires.</string>
    <key>NSCameraUsageDescription</key>
    <string>Pour scanner le QR code Pronote et connecter le compte de votre enfant.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Pour enregistrer les photos de l'école dans votre Pellicule.</string>
    <key>NSCalendarsWriteOnlyAccessUsageDescription</key>
    <string>Pour ajouter un événement culturel recommandé à votre calendrier.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Pour afficher les événements culturels proches de vous.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>UIAppFonts</key>
    <array>
        <string>DMSerifDisplay-Regular.ttf</string>
        <string>Inter.ttf</string>
        <string>PixelifySans-Bold.ttf</string>
    </array>
</dict>
</plist>
