<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleName</key>
    <string>nōto.</string>
    <key>CFBundleDisplayName</key>
    <string>nōto.</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSFaceIDUsageDescription</key>
    <string>Authentification sécurisée pour accéder aux données scolaires.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Pour afficher les événements culturels proches de vous.</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>UIAppFonts</key>
    <array>
        <string>SpaceMono-Regular.ttf</string>
        <string>SpaceMono-Bold.ttf</string>
        <string>InstrumentSerif-Regular.ttf</string>
        <string>InstrumentSerif-Italic.ttf</string>
        <string>PixelifySans-Bold.ttf</string>
    </array>
</dict>
</plist>
